* {padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth ;

}
body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

nav {
 height: 20%;
 background-color: #111;
 display: flex;
 align-items:center;
 color: white;
 padding: 10px 20px;
}

.navtop {
  display: flex;
  align-items:center;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.navItem{
  margin-right: auto;

}

.search {
width: max-content;
margin-left:50%;
background-color: gray;
border-radius: 15px;
}
.searchInput {
  border: none;
  background-color:transparent;
  width: 150px;
}
.searchInput::placeholder {
  color: lightgray;
}

.navMensagge {   /* acordate de clavarle algun link  */
margin-left:100%;
font-size: 20px;
border-bottom: 2px solid ;
border-bottom-color:white ;
cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top:40;
  left: 100px;
  
}
.menuItem {
  margin-right:200px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border: 2px solid rgb(100, 90, 90);
  margin-right: 220px;
  cursor: pointer;
  font-size: 20px;
  padding: 5PX;
}
.sliderImg{
  height: 800px;
  z-index: 1;
}


.slider{
  background-image:url('./img/brick-wall-texture.jpg');  
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
  background-size: 100%;
  overflow: hidden;

}
.sliderWrapper{
display: flex;
width: 400vw;
transition: transform 1s ease-in-out;
}
.sliderItem {
  width:100vw ;
}
.slideBg{
  width: 700px;
  height: 700px;
  border-radius: 80%;
  position: absolute;
  background-color: lightgray;
}

.sliderItem {
  width: 150vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderTittle{
  position: absolute;
  top:10%;
  right:10%;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}
.slidderPrice{
  position:absolute;
  top:10%;
  left:10%;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: white;
  border: 1px solid white;
  z-index: 1;
}
.buyButton{
  position:absolute;
  top:80%;
  left:80%;
  font-size: 30px;
  font-weight: 900;
  font-stretch:expanded;
  color: white;
  background-color: #111;
  border: 1px solid lightgray;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover{
background-color: white;
color: black;
}

.sliderItem:nth-child(1) .slideBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .slideBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .slideBg {
  background-color:chocolate;
}
.sliderItem:nth-child(4) .slideBg {
  background-color: lightpink;
}

.sliderItem:nth-child(1) .slidderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .slidderPrice {
  color:rebeccapurple;
}
.sliderItem:nth-child(3) .slidderPrice {
  color:chocolate;
}
.sliderItem:nth-child(4) .slidderPrice {
  color:lightpink;
}

.features{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 50px;
}

.featureIcon {
  width: 50px;
  height: 50px;

}

.feature{
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  
}

.featuresTittle {
  font-size: 30px;
  font-weight: 400;
  margin: 20px;

}

.featuresDesc{
  font-size: 18px;
  font-weight: 600;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
  width: 100%;
  height: 100vh;
  top: 10px;
  
}

  .payment {
    width: 250px;
    height: 20px;
    background-color: beige;
    position: absolute;
    top: 35%;
    right: 75%;
    transform: translate(-50%, -50%); /* Para centrar el elemento vertical y horizontalmente */
    padding: 10px 50px;
  }


.productImg {
  position: relative;
  width: 50%;
  justify-content:center;

}

.productDetails {
  position: absolute;
  padding: 50px;
  font-size: 18px;
  font-weight: 600;
  left: 75%;
}

.productTittle{
  font-size: 75px;
  font-weight: 900;
}

.productDesc{
  font-style: 24px;
  color:black;
}

.colors,.sizes{
  display: flex;
  margin-bottom: 20px;
}

.color{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right:10px;
  cursor: pointer;
  position: relative;
  top: 10px;
}
  .color:last-child{ 
    background-color: gray;
}



.size{
  padding: 5px 20px ;
  border: 1px solid rgb(160, 85, 85);
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;

}

.productButton{
float: right;
padding: 10px 20px;
background-color: #111;
color: white;
font-size: 20;
cursor: pointer;

}

.productButton:hover{
  background-color: white;
  color: black;
}